
@{
    ViewData["Title"] = "ComponentLeavings";
}

<div>
    <a asp-controller="Raport" asp-action="ComponentLeavings" asp-route-IsComponent="true">Залишки Компонентів</a>
    <hr/>
    <a asp-controller="Raport" asp-action="ComponentLeavings" asp-route-IsComponent="false">Залишки Товарів</a>

</div>

@if (@ViewBag.IsComponent)
{
    <div>
        @await Component.InvokeAsync("ComponentLeavings")
    </div>
}
@if (!@ViewBag.IsComponent)
{
    <div>
        @await Component.InvokeAsync("ItemLeavings")
    </div>
        }
