@model ProfitRaportVM

@{
    ViewData["Title"] = "ProfitRaport";
}

<h2>ProfitRaport</h2>

<h4>ProfitRaportVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProfitRaport">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateFrom" class="control-label"></label>
                <input asp-for="DateFrom" class="form-control" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTo" class="control-label"></label>
                <input asp-for="DateTo" class="form-control" />
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div id="SellingPartial">
</div>

<button onclick="myFunction()">Click me</button>

<script type="text/javascript">
    myFunction=function () {
        var x = window.innerHeight;
        var y = window.innerWidth;
        var link =
        "@Html.Raw(Url.Action("ProfitRaport_Partial", "Raport", new { X= "widthToReplace", Y = "heightToReplace", DateFrom = @Model.DateFrom, DateTo= @Model.DateTo }))";
        link = link.replace("heightToReplace", x);
        link = link.replace("widthToReplace", y);
        $("#SellingPartial").load(link);
    };
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>

