@model CoffeShop

@{
    ViewData["Title"] = "CoffeShop_Create";
}

<h2>Створити нову кав'ярню</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CoffeShop_Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CoffeShop_List">назад</a>
</div>

