@model ItemComponent

@{
    ViewData["Title"] = "ItemComponentCreate";
}

<h2>ItemComponentCreate</h2>

<h4>ItemComponent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ItemComponentCreate">
            @Html.HiddenFor(model => model.ComponentItem.Id)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentComponent.Id" class="control-label">Teacher</label>
                <select asp-for="CurrentComponent.Id" class="form-control" asp-items="ViewBag.Components">
                </select>
                <span asp-validation-for="CurrentComponent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

