@model ComponentDelivery

@{
    ViewData["Title"] = "ComponentDelivery_Create";
}

<h2>Надходження Товару</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ComponentDelivery_Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CoffeShop.Id" class="control-label">Кав'ярня</label>
                <select asp-for="CoffeShop.Id" class="form-control" asp-items="ViewBag.CoffeShops"></select>
                <span asp-validation-for="CoffeShop" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="ItemDelivered.Id" class="control-label">Товари</label>
                    <select asp-for="ItemDelivered.Id" class="form-control" asp-items="ViewBag.Items"></select>
                    <span asp-validation-for="ItemDelivered" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Кількість</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryPrice" class="control-label">Ціна Усього Надходження</label>
                <input asp-for="DeliveryPrice" class="form-control" />
                <span asp-validation-for="DeliveryPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ComponentDelivery_List">назад</a>
</div>

